<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VersionUpdate</display-name>
  <servlet>
    <servlet-name>GetVersionInfo</servlet-name>
    <servlet-class>com.alexander.servlet.GetVersionInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadApkServlet</servlet-name>
    <servlet-class>com.alexander.servlet.UploadApkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListApkFileServlet</servlet-name>
    <servlet-class>com.alexander.servlet.ListApkFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveServlet</servlet-name>
    <servlet-class>com.alexander.servlet.RemoveServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>GetVersionInfo</servlet-name>
    <url-pattern>/GetVersionInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadApkServlet</servlet-name>
    <url-pattern>/servlet/UploadApkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListApkFileServlet</servlet-name>
    <url-pattern>/ListApkFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveServlet</servlet-name>
    <url-pattern>/servlet/RemoveServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>